@model SeguimientoAlumnosEgresados2.Models.carrera

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/StyleSheetForm.css" rel="stylesheet" />

<h2>Eliminar carrera</h2>

<h3>Esta seguro de querer eliminar esta carrera?</h3>
<div>
    <h4>Carrera</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label class="col-md-2">Nombre de la carrera:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreCarrera)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista de carreras", "Index")
        </div>
    }
</div>
